---
---

@import "{{ site.theme }}";
#header_wrap {
  background: #118;
  background: -webkit-linear-gradient(top, #33A, #118);
  background: linear-gradient(top, #33A, #118);
}
#forkme_banner {
  background-color: #66d;
  transition: all 0.3s;
}
#forkme_banner:hover {
  background-color: #99F;
}
h1, h3, h4, h5, h6 {
  color: #008;
}
#main_content_wrap h1:first-of-type {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 0.2em 0 0 0.4em;
  background-color: #EEF;
}
h2 {
  color: #00A;
  padding-bottom: 0;
  border-bottom: 2px dotted #008;
  background: none;
}
h3 {
  display: inline-block;
  border-bottom: 1px solid #008;
}
ul, ol, dl {
  margin-bottom: 0;
}

.anchorjs-link {
  transition: all .25s linear;
  text-decoration: none;
  color: #000;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
  text-decoration: none;
}
.anchorjs-link:hover {
  color: #ff5231;
}
